{{ form_start(form) }}
    {{ form_widget(form) }}
    {# {{ form_row(form.description) }}
    {{ form_row(form.latlng)}} #}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
