{% extends 'admin/base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index ({{ pagination.getTotalItemCount }})</h1>
    <p><a href="{{ path('admin_images_upload') }}">Upload</a></p>
    {#
    {{ knp_pagination_filter(pagination, {
        'i.wanders': 'Wanders',
    }) }}
    #}
    <div class="row mb-3 image-index-heading">
        <div class="col-2">
            Image
        </div>
        <div class="col-2 image-description text-break">
            Title &amp; Description
        </div>
        <div class="col">
            Captured At
        </div>
        <div class="col">
            File Size
        </div>
        <div class="col">
            Rating
        </div>
        <div class="col image-details text-break d-none d-lg-block">
            Details
        </div>
        <div class="col-1">
            Links
        </div>
    </div>

    {% for image in pagination %}
    <div class="row my-2">
        <div class="col-2">
            <a href="{{ path('admin_images_show', {'id': image.id}) }}">
                <img class="w-100" src="{{ vich_uploader_asset(image) | imagine_filter('square_thumb_300') }}" />
            </a>
        </div>
        <div class="col-2 image-description small text-break">
            <strong>{{ image.title }}</strong><br/>
            {{ image.description }}
        </div>
        <div class="col small">
            {{ image.capturedAt ? image.capturedAt|date('Y-m-d H:i:s T') : '' }}<br/>
        </div>
        <div class="col small">
            Size: {{ image.sizeInBytes  | format_metric_bytes }}<br/>
        </div>
        <div class="col small">
            Rating: {{ image.rating | star_rating }}<br/>
        </div>
        <div class="col image-details small text-break d-none d-lg-block">
            {# Name: {{ image.name }}<br/> #}
            {# MIME type: {{ image.mimeType }}<br/> #}
            <strong>Original Name</strong>: {{ image.originalName }}<br/>
            <strong>Keywords</strong>: {{ image.Keywords|join(', ') }}<br/>
            <strong>Dimensions</strong>: {{ image.dimensions|join('x') }}<br/>
            <strong>Co-ordinates</strong>: {{ image.latlng|join(', ') }}<br/>
            <strong>Late Updated</strong>: {{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i:s T') : '' }}<br/>
        </div>
        <div class="col-1">
            <a href="{{ path('admin_images_show', {'id': image.id}) }}">show</a><br/>
            <a href="{{ path('admin_images_edit', {'id': image.id}) }}">edit</a><br/>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            No records found
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="navigation my-2">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
