{% extends 'admin/base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index ({{ pagination.getTotalItemCount }})</h1>
    <p><a href="{{ path('admin_image_upload') }}">Upload</a></p>
    {#
    {{ knp_pagination_filter(pagination, {
        'i.wanders': 'Wanders',
    }) }}
    #}
    <div class="row mb-3 image-index-heading">
        <div class="col-2">
            Image
        </div>
        <div class="col-2 image-description text-break{% if pagination.isSorted('i.title') %} sorted{% endif %}">
            {{ knp_pagination_sortable(pagination, 'Title & Description', 'i.title') }}
        </div>
        <div class="col {% if pagination.isSorted('i.capturedAt') %} sorted{% endif %}">
            {{ knp_pagination_sortable(pagination, 'Captured At', 'i.capturedAt') }}
        </div>
        <div class="col {% if pagination.isSorted('i.sizeInBytes') %} sorted{% endif %}">
            {{ knp_pagination_sortable(pagination, 'File Size', 'i.sizeInBytes') }}
        </div>
        <div class="col {% if pagination.isSorted('i.rating') %} sorted{% endif %}">
            {{ knp_pagination_sortable(pagination, 'Rating', 'i.rating') }}
        </div>
        <div class="col image-details text-break d-none d-lg-block">
            Details
        </div>
        <div class="col-1">
            Links
        </div>
    </div>

    {% for image in pagination %}
    <div class="row my-2">
        <div class="col-2">
            <a href="{{ path('admin_image_show', {'id': image.id}) }}">
                <img class="w-100" src="{{ vich_uploader_asset(image) | imagine_filter('open_graph_image') }}" />
            </a>
        </div>
        <div class="col-2 image-description small text-break">
            <strong>{{ image.title }}</strong><br/>
            {{ image.description }}
        </div>
        <div class="col small">
            {{ image.capturedAt ? image.capturedAt|date('Y-m-d H:i:s T') : '' }}<br/>
        </div>
        <div class="col small">
            Size: {{ image.sizeInBytes  | format_metric_bytes }}<br/>
        </div>
        <div class="col small">
            Rating: {{ image.rating | star_rating }}<br/>
        </div>
        <div class="col image-details small text-break d-none d-lg-block">
            {# Name: {{ image.name }}<br/> #}
            {# MIME type: {{ image.mimeType }}<br/> #}
            <strong>Original Name</strong>: {{ image.originalName }}<br/>
            <strong>Tags</strong>: {{ image.Tags|join(', ') }}<br/>
            <strong>Dimensions</strong>: {{ image.dimensions|join('x') }}<br/>
            <strong>Co-ordinates</strong>:
                <a href="https://www.google.com/maps/search/?api=1&amp;query={{ image.latlng|join(',') }}">
                    {{ image.latlng|join(', ') }}
                </a><br/>
            <strong>Last Updated</strong>: {{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i:s T') : '' }}<br/>
        </div>
        <div class="col-1">
            <a href="{{ path('admin_image_show', {'id': image.id}) }}">show</a><br/>
            <a href="{{ path('admin_image_edit', {'id': image.id}) }}">edit</a><br/>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            No records found
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="navigation my-4">
                {{ knp_pagination_render(pagination, null, {}, { 'align': 'center' }) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{# The Knp Paginator uses Font Awesome for its sorting icons in the header #}
<script src="https://kit.fontawesome.com/4f3422de26.js" crossorigin="anonymous"></script>
{% endblock %}