{% extends 'admin/base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Image</h1>

    <table class="table image">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ image.name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ image.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td class="text-break">{{ image.description | stripmosttags | markdown }}</td>
            </tr>
            <tr>
                <th>Captured Time</th>
                <td>{{  image.capturedAt |date('d M Y H:i T')  }}
            </tr>
            <tr>
                <th>Wander</th>
                {% if image.wander %}
                <td><a href="{{ path('admin_wanders_show', {'id': image.wander.id}) }}">{{ image.wander.title }}</a></td>
                {% else %}
                <td>None</td>
                {% endif %}
            </tr>

            <tr>
                <th>Rating</th>
                <td>{{ image.rating | star_rating }}</td>
            <tr>
                <th>SizeInBytes</th>
                <td>{{ image.sizeInBytes }}</td>
            </tr>
            <tr>
                <th>MimeType</th>
                <td>{{ image.mimeType }}</td>
            </tr>
            <tr>
                <th>OriginalName</th>
                <td>{{ image.originalName }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                    {% for tag in image.tags %}
                    <span class="keyword">{{ tag }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Auto Tags</th>
                <td>
                    {% for tag in image.autoTags %}
                    <span class="keyword autotag">{{ tag }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>{{ image.dimensions|join('x') }}</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>{{ image.latlng|join(', ') }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ image.location }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <td colspan="2">
                <img class="img-fluid" src="{{ vich_uploader_asset(image, 'imageFile') }}" srcset="{{ image | srcset }}" alt="{{ image.name }}" />
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_image_index') }}">back to list</a>

    <a href="{{ path('admin_image_edit', {'id': image.id}) }}">edit</a>

    <p>{{ include('admin/image/_delete_form.html.twig') }}</p>
    <div class="row">
        <div class="col-2">{{ include('admin/image/_set_location_form.html.twig') }}</div>
        <div class="col-2">{{ include('admin/image/_set_auto_tags_form.html.twig') }}</div>
    </div>

{% endblock %}
