{% extends 'admin/base.html.twig' %}

{% block title %}Upload Images{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminimageupload') }}
{% endblock %}
{% block body %}
    <h1>Upload Images</h1>
    <div class="diskspace">
        <div>Disk space used: {{ disk.used | format_bytes }} / {{ disk.total | format_bytes }} total
         (<span class="diskusagepercent">{{ disk.percent | format_percent_number }}</span>)
        <br />
        <div class="bargraph mb-4">
            <div class="bar">
                {# Javascript will make a disk usage percentage bargraph here #}
            </div>
        </div>

         </div>
    </div>
    <form action="{{ path('admin_image_upload') }}"
        method="POST"
        enctype="multipart/form-data" class="dropzone">
        <input type="hidden" name="token" value="{{ csrf_token('image_upload') }}"/>
    </form>

    <div class="mt-2"><a href="{{ path('admin_image_index') }}">back to list</a></div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('adminimageupload') }}
{% endblock %}
