{% extends 'base.html.twig' %}
{% block htmlClass %}homepage{% endblock %}
{% block title %}One Mile Matt{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ include('_leaflet_stylesheets.html.twig') }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col mx-3 stats">
            <div class="row">
                <div class="col px-2 py-2">
                    Total Distance {{ (wanderStats.totalDistance / 1000.0) | number_format(2) ~ 'km' }}</a>
                </div>
                <div class="col px-2 py-2">
                    Total Wanders: {{ wanderStats.totalCount }}
                </div>
                <div class="col px-2 py-2">
                    Total Duration: {{ wanderStats.totalDuration | duration_to_hms }}
                </div>
                <div class="col px-2 py-2">
                    {# TODO Make this wander link work when we have a public wander page #}
                    Longest Wander:
                        {% if wanderStats.hasWanders %}
                            <a href="{# path('admin_wander_show', {'id': wanderStats.longestWanderDistance.id }) #}">{{ (wanderStats.longestWanderDistance.distance / 1000.0) | number_format(2) ~ 'km' }}</a>
                        {% endif %}
                </div>
                <div class="col px-2 py-2">
                    {# TODO Make this wander link work when we have a public wander page #}
                    {% if wanderStats.hasWanders %}
                        Shortest Wander: <a href="{# path('admin_wander_show', {'id': wanderStats.shortestWanderDistance.id) #}">{{ (wanderStats.shortestWanderDistance.distance / 1000.0) | number_format(2) ~ 'km' }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-fill d-flex">
        <div class="col-sm">
            <div class="h-100" id="mapid" data-mapbox-access-token="{{ mapbox_access_token }}" ></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    {{ include('_leaflet_javascripts.html.twig') }}
    <script src="/js/map.js"></script>
    <script>
        $(function() {
            var map = setUpMap();
            //addAllWanders(map);
            addAllWanders(map);
        });
    </script>
{% endblock %}