{% extends 'admin_base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index ({{ pagination.getTotalItemCount }})</h1>
    <p><a href="{{ path('image_upload') }}">Upload</a></p>
    {% for image in pagination %}
    <div class="row my-2">
        <div class="col-2">
            <a href="{{ path('image_show', {'id': image.id}) }}">
                <img width="150px" src="{{ vich_uploader_asset(image) | imagine_filter('square_thumb_300') }}" />
            </a>
        </div>
        <div class="col-3 image-description small text-break">
            <strong>{{ image.name }}</strong><br/>
            {{ image.description }}
        </div>
        <div class="col image-details small">
            Title: {{ image.title }}<br/>
            Captured At: {{ image.capturedAt ? image.capturedAt|date('Y-m-d H:i:s') : '' }}<br/>
            Size (bytes): {{ image.sizeInBytes }}<br/>
            MIME type: {{ image.mimeType }}<br/>
        </div>
        <div class="col image-details small">
            Original Name: {{ image.originalName }}<br/>
            Keywords: {{ image.Keywords|join(', ') }}<br/>
            Dimensions: {{ image.dimensions|join('x') }}<br/>
            Co-ordinates: {{ image.latlng|join(', ') }}<br/>
            Late Updated: {{ image.updatedAt ? image.updatedAt|date('Y-m-d H:i:s') : '' }}<br/>
        </div>
        <div class="col-1">
            <a href="{{ path('image_show', {'id': image.id}) }}">show</a><br/>
            <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a><br/>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            No records found
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="navigation my-2">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
