{% extends 'admin_base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1>Image</h1>

    <img 
        width="20px"
        class="img-fluid" 
        src="{{ vich_uploader_asset(image) }}" 
        alt="{{ image.name }}" 
        srcset="{{ srcset }}"
        sizes="20px"
        />
    <br />

    <img 
        width="200px"
        class="img-fluid" 
        src="{{ vich_uploader_asset(image) }}" 
        alt="{{ image.name }}" 
        srcset="{{ srcset }}"
        sizes="200px"
        />
    <br />

    <img 
        width="2000px"
        class="img-fluid" 
        src="{{ vich_uploader_asset(image) }}" 
        alt="{{ image.name }}" 
        srcset="{{ srcset }}"
        sizes="2000px"
        />
    <br />
    
{% endblock %}
