{% extends 'base.html.twig' %}

{% block title %}One Mile Matt Image {{ image.title ?? image.name }}{% endblock %}

{% block body %}
    <div class="row image">
        <div class="col mx-3 headerstrip">
            <div class="row prevnext">
                <div class="col">
                    {% if prev %}
                    <a href="{{ path('image_show', { 'id': prev.id }) }}">&larr;Previous</a>
                    {% endif %}
                </div>
                <div class="col text-right">
                    {% if next %}
                    <a href="{{ path('image_show', { 'id': next.id }) }}">Next&rarr;</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>{{ image.title ?? image.name }}</h2>
                    <p>{{ image.description | stripmosttags | markdown }}</p>
                </div>
            </div>
            <div class="row details">
                <div class="col">

                    {% if image.wander %}
                        {% set wander = image.wander %}
                        <p>From wander: <a href="{{ path('wanders_show', { 'id': wander.id }) }}">{{ wander }}</a></p>
                    {% else %}
                        <p>No associated Wander</p>
                    {% endif %}
                </div>
                <div class="col">
                    <p>Taken: {{ image.capturedAt| date("D j F Y H:i") }}</p>
                </div>
                <div class="col">
                    <p>Rating: {{ image.rating | star_rating }}</p>
                </div>
            </div>
            <div class="row details">
                <div class="col">
                    <p class="small">
                    {% if image.latlng and image.latlng | length > 0 %}GPS Coordinates: {{ image.latlng|join(', ') }}{% endif %}
                    {% if image.location %}<br/>Location: {{ image.location }}{% endif %}
                    </p>
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row adminlinks pb-2">
                <div class="col">
                    <hr/>
                    <a href="{{ path('admin_image_edit', {'id': image.id}) }}">Image Edit Page</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {#
                TODO Add an alt text property so we can be more accessible
                TODO What happens if the alt text has quotes in it?
            #}
            <img class="img-fluid w-100"
                src="{{ vich_uploader_asset(image, 'imageFile') }}"
                srcset="{{ image | srcset }}"
                sizes="(min-width: 1200px) 1140px,
                        100vw"
                 />
        </div>
    </div>
    <div class="row image">
        <div class="col pt-3 mx-3 footerstrip">
            <p><b>Tags:</b>:
                {% for tag in image.tags %}
                    <span class="keyword">{{ tag }}</span>
                {% endfor %}
            </p>
            <p><b>Experimental Machine-Learning Auto-Tags</b>:
                {% for tag in image.autoTags %}
                <span class="keyword autotag">{{ tag }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}
