{% extends 'base.html.twig' %}

{% block title %}One Mile Matt Image {{ image.title ?? image.name }}{% endblock %}

{% block body %}
    <div class="row image">
        <div class="col mx-3 headerstrip">
            <div class="row">
                <div class="col">
                    <h2>{{ image.title ?? image.name }}</h2>
                    <p>{{ image.description |striptags|markdown }}</p>
                </div>
            </div>
            <div class="row details">
                <div class="col">

                    {% if image.wander %}
                        {% set wander = image.wander %}
                        <p>From wander: <a href="{{ path('wanders_show', { 'id': wander.id }) }}">{{ wander }}</a></p>
                    {% else %}
                        <p>No associated Wander</p>
                    {% endif %}
                </div>
                <div class="col">
                    <p>Taken: {{ image.capturedAt| date("D j F Y H:i") }}</p>
                </div>
                <div class="col">
                    <p>Rating: {{ image.rating | star_rating }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {#
                TODO Add an alt text property so we can be more accessible
                TODO What happens if the alt text has quotes in it?
            #}
            <img class="img-fluid w-100"
                src="{{ vich_uploader_asset(image, 'imageFile') }}"
                srcset="{{ image | srcset }}"
                sizes="(min-width: 1200px) 1140px,
                        100vw"
                 />
        </div>
    </div>
    <div class="row image">
        <div class="col pt-3 mx-3 footerstrip">
            <p><b>Keywords</b>:
                {% for keyword in image.Keywords %}
                    <span class="keyword">{{ keyword }}</span>
                {% endfor %}
            </p>
            <p><b>Experimental Machine-Learning Auto-Tags</b>:
                {% for tag in image.autoTags %}
                <span class="keyword autotag">{{ tag }}</span>
                {% endfor %}
            </p>
        </div>
    </div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <hr/>
    <div id="adminlinks">
        <a href="{{ path('admin_image_edit', {'id': image.id}) }}">Edit</a>
    </div>
    {% endif %}
{% endblock %}
