{% extends 'base.html.twig' %}

{% block title %}Image {{ image.title ?? image.name }}{% endblock %}

{% block twittercard %}
    {% if settings.displayTwitterCards %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ settings.twitterHandle | e('html_attr') }}" />
    <meta name="twitter:creator" content="@{{ settings.twitterHandle | e('html_attr') }}" />
    <meta property="og:url" content="{{ url('image_show', {'id': image.id}) }}" />
    <meta property="og:title" content="{{ (image.title ?? image.name) | e('html_attr') }}" />
    {% if image.description %}
        <meta property="og:description" content="{{ image.description | markdown_to_plain_text | u.truncate(255, '...', false) | e('html_attr') }}" />
    {% else %}
        <meta property="og:description" content="An image on {{ settings.siteTitle | e('html_attr') }}" />
    {% endif %}
    <meta property="og:image" content="{{ vich_uploader_asset(image) | imagine_filter('open_graph_image') }}" />
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row image mx-0">
        <div class="col headerstrip">
            <div class="row title d-flex align-items-center my-3">
                <div class="col-2 nav-prev-next" >
                    {% if prev %}
                    <a class="arrow align-middle" id="navigatePrev" href="{{ path('image_show', { 'id': prev.id }) }}">&larr;</a>&nbsp;<a class="d-none d-md-inline text align-middle" href="{{ path('image_show', { 'id': prev.id }) }}">Previous</a>
                    {% endif %}
                </div>
                <div class="col-8 text-center">
                    <div>
                        <h2>{{ image.title ?? image.name }}</h2>
                    </div>
                </div>
                <div class="col-2 text-end nav-prev-next">
                    {% if next %}
                    <a class="d-none d-md-inline text align-middle" href="{{ path('image_show', { 'id': next.id }) }}">Next</a>&nbsp;<a class="arrow align-middle" id="navigateNext" href="{{ path('image_show', { 'id': next.id }) }}">&rarr;</a>
                    {% endif %}
                </div>
            </div>
            <div class="row description pt-4 pb-2">
                <div class="col">
                    {{ image.description | stripmosttags | markdown }}
                </div>
            </div>
            <div class="row details mt-2">
                <div class="col">

                    {% if image.wander %}
                        {% set wander = image.wander %}
                        From wander: <a href="{{ path('wanders_show', { 'id': wander.id }) }}">{{ wander.title }}</a>
                    {% else %}
                        (No associated Wander)
                    {% endif %}
                    <br/>Taken: {{ image.capturedAt| date("D j F Y H:i") }}
                    <br/>Rating: {{ image.rating | star_rating }}
                </div>
                <div class="col">
                    <p class="small">
                    {% if image.latlng and image.latlng | length > 0 %}
                        GPS Coordinates:
                            <a href="https://www.openstreetmap.org/?mlat={{ image.latitude }}&mlon={{ image.longitude }}&zoom=18">
                            {{ image.latitude | number_format(5) }}, {{ image.longitude | number_format(5) }}
                            </a>
                    {% endif %}
                    {% if image.location %}<br/>Location: {{ image.location }}{% endif %}
                    </p>
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row adminlinks my-2">
                <div class="col text-right">
                    <a class="btn btn-primary" href="{{ path('admin_image_edit', {'id': image.id}) }}">Edit</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img alt="
                {{- image.titleOrId | markdown_to_plain_text | u.truncate(150, '...') | e('html_attr') -}}
                {% if image.description %}
                    {{- image.description | markdown_to_plain_text | u.truncate(150, '...') | e('html_attr') -}}
                {% endif %}"
                class="img-fluid w-100"
                src="{{ vich_uploader_asset(image, 'imageFile') }}"
                srcset="{{ image | srcset }}"
                sizes="(min-width: 1200px) 1140px,
                        100vw"
                 />
        </div>
    </div>
    <div class="row image mx-0">
        <div class="col pt-3 footerstrip">
            <p><b>Tags:</b>
                {% for tag in image.tags %}
                    <span class="keyword">{{ tag }}</span>
                {% endfor %}
            </p>
            <p><b>Experimental Machine-Learning Auto-Tags:</b>
                {% for tag in image.autoTags %}
                <span class="keyword autotag">{{ tag }}</span>
                {% endfor %}
            </p>
            <p><b>Experimental Machine-Learning Text Recognition Tags:</b>
                {% for tag in image.textTags %}
                <span class="keyword texttag">{{ tag }}</span>
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="row comments mx-0">
        <div class="col pt-3">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = "{{ url('image_show', {'id': image.id}) }}";
                    this.page.identifier = "image-" + {{ image.id }};
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://onemilematt.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
{% endblock %}
