{% extends 'base.html.twig' %}
{% block title %}Wanders{% endblock %}
{% block container %}<div class="container-xl px-0">{% endblock %}
{% block body %}
    <div class="row mx-0">
        <div class="col headerstrip">
            <div class="row">
                <div class="col my-3">
                    <h2>All Wanders
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        &nbsp;<a style="color: #b130c7; font-size: 1.4em; text-decoration: none;" href="{{ path('admin_wanders_new') }}" ><strong>+</strong></a>
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row wander-list mx-0">
        <div class="col">
        {% for results in pagination %}
            {% set wander = results.wander %}
            {% set imageCount = results.imageCount %}
            <div class="row no-gutters wander mt-2">
                <div class="col-2 d-none d-md-block">{% if wander.hasFeaturedImage %}<a href="{{ path('wanders_show', {'id': wander.id}) }}"><img class="img-fluid" src="{{ vich_uploader_asset(wander.featuredImage) | imagine_filter('square_thumb_300') }}" alt="{{ wander.featuredImage.titleOrId  | markdown_to_plain_text | e('html_attr') }}" /></a>{% endif %}</div>
                <div class="col px-4 pt-4">
                    <h3 class="title"><a href="{{ path('wanders_show', {'id': wander.id}) }}">{{ wander.title }}</a></h3>
                    <div class="row metadata">
                        <div class="col">
                            <strong>{{ wander.startTime | date("j F Y, H:i") }} to {{ wander.endTime | date("H:i") }}</strong>
                        </div>
                        <div class="col d-none d-md-block">
                            Sector:&nbsp;<img alt="{{ wander.sector | e('html_attr') }}" class="sector" src="{{ wander | sectorimgurl }}" />&nbsp;{{ wander.sector }}
                        </div>
                        <div class="col d-none d-md-block">
                            {{ imageCount }} images
                        </div>
                    </div>
                    <div class="row metadata">
                        <div class="col">
                            Distance: {{ (wander.distance / 1000.0) | number_format(2) ~ 'km' }}
                        </div>
                        <div class="col  d-none d-md-block">
                            Duration: {{ wander.duration | duration_to_hms }}
                        </div>
                        <div class="col  d-none d-md-block">
                            Total Elevation Gain: {{ wander.cumulativeElevationGain | number_format(0) ~ 'm' }}
                        </div>
                    </div>
                    <div class="description pb-2 pt-2">
                        {{ wander.description | markdown_to_plain_text | u.truncate(300, '...', false) }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="navigation my-4">
                {{ knp_pagination_render(pagination, null, {}, { 'align': 'center' }) }}
            </div>
        </div>
    </div>
{% endblock %}
