{% extends 'base.html.twig' %}

{% block title %}Wander index{% endblock %}

{% block body %}
    <h1>Wander index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Description</th>
                <th>GpxFilename</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wander in wanders %}
            <tr>
                <td>{{ wander.id }}</td>
                <td>{{ wander.title }}</td>
                <td class="text-nowrap">{{ wander.startTime ? wander.startTime|date('d M Y H:i:s') : '' }}</td>
                <td class="text-nowrap">{{ wander.endTime ? wander.endTime|date('d M Y H:i:s') : '' }}</td>
                <td>{{ wander.description }}</td>
                <td>{{ wander.gpxFilename }}</td>
                <td>
                    <a href="{{ path('wander_show', {'id': wander.id}) }}">show</a>
                    <a href="{{ path('wander_edit', {'id': wander.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wander_new') }}">Create new</a>
{% endblock %}
