{% extends 'base.html.twig' %}
{% block title %}Wanders{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ include('_leaflet_stylesheets.html.twig') }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col mx-3 headerstrip">
            <div class="row">
                <div class="col">
                    <h2>All Wanders</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table sortable">
                <thead>
                    <tr>
                        <th {% if pagination.isSorted('w.title') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Wander', 'w.title') }}</th>
                        <th {% if pagination.isSorted('w.startTime') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Date', 'w.startTime') }}</th>
                        <th width="150px" {% if pagination.isSorted('imageCount') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Pictures', 'imageCount') }}</th>
                        <th {% if pagination.isSorted('w.description') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Description', 'w.description') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for results in pagination %}
                    {% set wander = results.wander %}
                    {# imageCount is done through a wander-level left-join and count for efficiency, so it's in the results, not the wander #}
                    {% set imageCount = results.imageCount %}
                    <tr>
                        <td><img class="sector" src="{{ wander | sectorimgurl }}" />&nbsp;<a href="{{ path('wanders_show', {'id': wander.id}) }}">{{ wander.title }}</a></td>
                        <td class="text-nowrap">{{ wander.startTime ? wander.startTime|date('d M Y') : '' }}</td>
                        <td>{% if imageCount > 0 %}
                                {{ imageCount }}
                            {% else %}
                                To be uploaded
                            {% endif %}
                        </td>
                        <td>{{ wander.description | markdown_to_plain_text | u.truncate(100, '...', false) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="navigation my-4">
                {{ knp_pagination_render(pagination, null, {}, { 'align': 'center' }) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{# The Knp Paginator uses Font Awesome for its sorting icons in the header #}
<script src="https://kit.fontawesome.com/4f3422de26.js" crossorigin="anonymous"></script>
{% endblock %}