{% extends 'base.html.twig' %}
{% block title %}Wander: {{ wander.title }}{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('wanderpage') }}
{% endblock %}

{% block twittercard %}
    {% if settings.displayTwitterCards and wander.hasFeaturedImage %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ settings.twitterHandle | e('html_attr') }}" />
    <meta name="twitter:creator" content="@{{ settings.twitterHandle | e('html_attr') }}" />
    <meta property="og:url" content="{{ url('wanders_show', {'id': wander.id}) }}" />
    <meta property="og:title" content="{{ wander.title | e('html_attr') }}" />
    {% if wander.description %}
        <meta property="og:description" content="{{ wander.description | markdown_to_plain_text | u.truncate(255, '...', false) | e('html_attr') }}" />
    {% else %}
        <meta property="og:description" content="An wander on {{ settings.siteTitle | e('html_attr') }}" />
    {% endif %}
    <meta property="og:image" content="{{ vich_uploader_asset(wander.featuredImage) | imagine_filter('open_graph_image') }}" />
    {% endif %}
{% endblock %}
{% block container %}<div class="container-xl px-0">{% endblock %}
{% block body %}
    <div class="row wander mx-0">
        <div class="col headerstrip">
            <div class="row title">
                <div class="col-2">
                    {% if prev %}
                    <a class="align-middle" id="navigatePrev" href="{{ path('wanders_show', { 'id': prev.id }) }}">&larr;Previous</a>
                    {% endif %}
                </div>
                <div class="col-8 text-center">
                    <h2>{{ wander.title }}</h2>
                </div>
                <div class="col-2 text-end">
                    {% if next %}
                    <a class="align-middle" id="navigateNext" href="{{ path('wanders_show', { 'id': next.id }) }}">Next&rarr;</a>
                    {% endif %}
                </div>
            </div>
            <div class="row no-gutters description">
                <div class="col-12 col-md-8 px-4 pt-4 pb-4">
                    {{ wander.description | stripmosttags | markdown }}
                </div>
                <div class="d-none d-md-block col-md-4 pt-4 pb-4 px-4">
                    {% if wander.featuredImage %}
                    <a href="{{ path('image_show', {'id': wander.featuredImage.id}) }}">
                        <img
                            class="img-fluid"
                            src="{{ vich_uploader_asset(wander.featuredImage) }}"
                            alt="
                                {{ wander.featuredImage.titleOrId | markdown_to_plain_text | u.truncate(150, '...') | e('html_attr') }}
                                {% if wander.featuredImage.description %}
                                    {{ wander.featuredImage.description | markdown_to_plain_text | u.truncate(150, '...') | e('html_attr') }}
                                {% endif %}
                                "
                            srcset="{{ wander.featuredImage | srcset }}"
                            sizes="50vw "
                        />
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="row details mt-2">
                <div class="col">
                    {{ wander.startTime | date("D j F Y, H:i") }} to {{ wander.endTime | date("H:i") }}<br/>
                    Sector:&nbsp;<img class="sector" src="{{ wander | sectorimgurl }}" />&nbsp;{{ wander.sector }}<br/>
                    Images: {{ wander.images | length }}
                </div>
                <div class="col">
                    Distance: {{ (wander.distance / 1000.0) | number_format(2) ~ 'km' }}<br/>
                    Duration: {{ wander.duration | duration_to_hms }}<br/>
                    Total Elevation Gain: {{ wander.cumulativeElevationGain | number_format(0) ~ 'm' }}
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="row adminlinks my-2">
                <div class="col text-right">
                    <a class="btn btn-primary" href="{{ path('admin_wanders_edit', {'id': wander.id}) }}">Edit</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {# TODO: Move this hardcoded style into the CSS. It's a 80% viewport height
       with a fallback of a hardcoded pixel value for older browsers #}
    <div id="mapid" data-wander-id="{{ wander.id }}" style="height: 500px; height: 70vh;" {{ include('_mapattributes.html.twig') }} ></div>
    <div class="gallery">
    {% for image in image_pagination %}
        <div class="grid-item">
            <a href="{{ path('image_show', {'id': image.id}) }}">
                <img
                    {# class="img-fluid img-thumbnail" #}
                    class="img-fluid"
                    src="{{ vich_uploader_asset(image) | imagine_filter('srcset_720') }}" {# Quick bodge for now. We don't want the full-size one loading here, and that's happening with Masonry. For some reason. #}
                    title="{{ image.titleOrId | markdown_to_plain_text | trim | e('html_attr') }}"
                    alt="{{ image.description | markdown_to_plain_text | trim | u.truncate(150, '...') | e('html_attr') }}"
                    srcset="{{ image | srcset }}"
                    {# TODO Recalculate sizes after finalising Masonry layout, or adjust Masonry to fit #}
                    sizes="(min-width: 1400px) 432px,
                        (min-width: 1200px) 564px,
                        (min-width: 768px) 50vw,
                        100vw"
                />
            </a>
            <div class="metadata">
                <div class="mx-2 rating">{{ image.rating | star_rating }}</div>
                <div class="mx-2 image-details"><a href="{{ path('image_show', {'id': image.id}) }}">{{ image.title }}</a></div>
                <div class="mx-2 image-details description">
                {% if image.description %}
                    <small><a href="{{ path('image_show', {'id': image.id}) }}">{{ image.description | markdown_to_plain_text | u.truncate(39, '...', false) }}</a></small>
                {% endif %}
                </div>


            </div>
        </div>
    {% endfor %}
    </div>
    {#
    <div class="row mt-3 align-items-center gallery">
        {% for image in image_pagination %}
        <div class="col-lg-3 col-md-4 col-6 gallery-image-wrapper">
            {% if image.id is defined %}
            <a class="d-block mb-0 h-100" href="{{ path('image_show', {'id': image.id}) }}">
                <img
                    class="img-fluid img-thumbnail"
                    src="{{ vich_uploader_asset(image) }}"
                    title="{{ image.titleOrId | markdown_to_plain_text | trim | e('html_attr') }}"
                    alt="{{ image.description | markdown_to_plain_text | trim | u.truncate(150, '...') | e('html_attr') }}"
                    srcset="{{ image | srcset }}"
                    sizes="(min-width: 1200px) 262.5px,
                        (min-width: 992px) 25vw,
                        (min-width: 768px) 33.3333vw,
                        50vw"
                />
            </a>
            <div class="mx-2 image-details">{{ image.title }}</div>
            <div class="mx-2 image-details description"><small>
            {% if image.description %}
                <a href="{{ path('image_show', {'id': image.id}) }}">{{ image.description | markdown_to_plain_text | u.truncate(69, '...', false) }}</a>
            {% endif %}
            </small></div>

            <div class="mx-2 rating">{{ image.rating | star_rating }}</div>
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    #}
    <div class="row pb-4">
        <div class="col">
            <div class="navigation my-4">
                {{ knp_pagination_render(image_pagination, null, {}, { 'align': 'center' }) }}
            </div>
        </div>
    </div>
    <div class="row comments">
        <div class="col pt-3 mx-3">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = "{{ url('wanders_show', {'id': wander.id}) }}";
                    this.page.identifier = "wander-" + {{ wander.id }};
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://onemilematt.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('wanderpage') }}
{% endblock %}