{% extends 'base.html.twig' %}

{% block title %}Wander{% endblock %}

{% block body %}
    <h1>Wander</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wander.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ wander.title }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td class="text-nowrap {{ wander.isTimeLengthSuspicious ? 'text-danger' }}">{{ wander.startTime ? wander.startTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td class="text-nowrap {{ wander.isTimeLengthSuspicious ? 'text-danger' }}">{{ wander.endTime ? wander.endTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ wander.description }}</td>
            </tr>
            <tr>
                <th>GpxFilename</th>
                <td>{{ wander.gpxFilename }}</td>
            </tr>
            <tr>
                <th>Gpx File Link</th>
                <td><a href="{{ asset('uploads/gpx/' ~ wander.gpxFilename) }}">View GPX file</a></td>
            </tr>
        </tbody>
    </table>

    <p><a href="{{ path('wander_index') }}">back to list</a></p>
    <p><a href="{{ path('wander_edit', {'id': wander.id}) }}">edit</a></p>

    {{ include('wander/_delete_form.html.twig') }}
{% endblock %}
