<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand">
        {% block siteTitle %}<span class="text-danger font-weight-bold">Admin {% endblock %}
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link {% if app.request.attributes.get('_route') == 'home' %} active {% endif %}" href="{{ path('home') }}">Home</a>
            <a class="nav-item nav-link {% if app.request.attributes.get('_route') == 'admin_index' %} active {% endif %}" href="{{ path('admin_index') }}">Dashboard</a>
            <a class="nav-item nav-link {% if app.request.attributes.get('_route') starts with 'admin_wanders_' %} active {% endif %}" href="{{ path('admin_wanders_index') }}">Wanders</a>
            <a class="nav-item nav-link {% if app.request.attributes.get('_route') starts with 'admin_image_' %} active {% endif %}" href="{{ path('admin_image_index') }}">Images</a>
            <a class="nav-item nav-link {% if app.request.attributes.get('_route') starts with 'admin_settings_' %} active {% endif %}" href="{{ path('admin_settings_index') }}">Settings</a>
        </div>
        <div class="navbar-nav">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="nav-item nav-link" href="{{ path('app_logout') }}">Log out</a>
            {% endif %}
        </div>
    </div>
</nav>
