{% extends 'admin/base.html.twig' %}
{% block title %}One Mile Matt Admin Backend{% endblock %}
{% block body %}
<div class="dashboard">
    <div class="row">
        <div class="col">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-info-circle"></i> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-exclamation-circle"></i> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="details">
                <h2>Utilities</h2>
                <form action="{{ path('admin_clear_stats_cache') }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('admin_clear_stats_cache') }}">
                    <button class="btn btn-info" type="submit" name="submit" value="submit" class="btn-link">Clear Stats Cache</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-none d-md-block">
            <div class="headline">
                <div class="name">Wanders</div>
                <div class="value">{{ wanderStats.totalCount }}</div>
            </div>
        </div>
        <div class="col">
            <div class="details">
                <table>
                    <tr>
                        <th>Total Wander Count:</th><td>{{ wanderStats.totalCount }}</td>
                    </tr>
                    <tr>
                        <th><a href="{{ path('admin_wanders_backlog', { '_format': 'html' }) }}">Image Processing Backlog</a>:</th>
                        <td>{{ wanderStats.imageProcessingBacklog | default(0) }}</td>
                    </tr>
                    {% if wanderStats.hasWanders %}
                    <tr>
                        <th>With Title:</th>
                        <td>
                            {{ wanderStats.countWithTitle }} ({{ (wanderStats.countWithTitle / wanderStats.totalCount * 100.0) |number_format(2) }}%)
                        </td>
                    </tr>
                    <tr>
                        <th>With Description:</th>
                        <td>
                            {{ wanderStats.countWithDescription }} ({{ (wanderStats.countWithDescription / wanderStats.totalCount * 100.0) |number_format(2) }}%)
                        </td>
                    </tr>
                    <tr>
                        <th>Total Distance:</th>
                        <td>
                            {{ (wanderStats.totalDistance / 1000.0) | number_format(2) ~ 'km' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Average Distance per Wander:</th>
                        <td>
                            {% if wanderStats.hasWanders %}
                            {{ ((wanderStats.totalDistance/wanderStats.totalCount)/1000.0)| number_format(2) ~ 'km' }}
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>Total Duration:</th>
                        <td>
                            {{ wanderStats.totalDurationForHumans }}
                        </td>
                    </tr>
                    <tr>
                        <th>Total Cumulative Elevation Gain:</th>
                        <td>
                            {{ wanderStats.totalCumulativeElevationGain | number_format(2) ~ 'm' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Longest Wander:</th>
                        <td>
                            <a href="{{ path('admin_wanders_show', {'id': wanderStats.longestWanderDistance.id }) }}">Wander {{ wanderStats.longestWanderDistance.id }}</a>: {{ (wanderStats.longestWanderDistance.distance / 1000.0) | number_format(2) ~ 'km' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Shortest Wander:</th>
                        <td>
                            <a href="{{ path('admin_wanders_show', {'id': wanderStats.shortestWanderDistance.id }) }}">Wander {{ wanderStats.shortestWanderDistance.id }}</a>: {{ (wanderStats.shortestWanderDistance.distance / 1000.0) | number_format(2) ~ 'km' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Average Wander Length:</th>
                        <td>
                            {{ (wanderStats.averageWanderDistance / 1000.0) | number_format(2) ~ 'km' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Average Wander Duration:</th>
                        <td>
                            {{ wanderStats.averageDurationForHumans }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-none d-md-block">
            <div class="headline">
                <div class="name">Images</div>
                <div class="value">{{ imageStats.totalCount }}</div>
            </div>
        </div>
        <div class="col">
            <div class="details">
                {% if imageStats.totalCount > 0 %} {# Avoid division by zero #}
                <table>
                    <tr>
                        <th>Total Image Count:</th><td>{{ imageStats.totalCount }}</td>
                    </tr>
                    <tr>
                        <th>With Co-Ordinates:</th>
                        <td>
                            {{ imageStats.countWithCoords }} ({{ (imageStats.countWithCoords / imageStats.totalCount * 100.0) |number_format(2) }}%)
                        </td>
                    </tr>
                    <tr>
                        <th>With Title:</th>
                        <td>
                            {{ imageStats.countWithTitle }} ({{ (imageStats.countWithTitle / imageStats.totalCount * 100.0) |number_format(2) }}%)
                        </td>
                    </tr>
                    <tr>
                        <th>With Description:</th>
                        <td>
                            {{ imageStats.countWithDescription }} ({{ (imageStats.countWithDescription / imageStats.totalCount * 100.0) |number_format(2) }}%)
                        </td>
                    </tr>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-none d-md-block">
            <div class="headline">
                <div class="name">Monthly Stats</div>
            </div>
        </div>
        <div class="col">
            {{ render_chart(chart) }}
            <div class="details">
                <table cellpadding="4">
                    <tr>
                        <th>Month</th>
                        <th>Number of Wanders</th>
                        <th>Number of Images</th>
                        <th>Total Walking Distance</th>
                        <th>Total Walking Duration</th>
                    </tr>
                    {% for month in wanderStats.monthlyStats | reverse %}
                    <tr>
                        <td>{{ month.periodLabel }}</td>
                        <td class="text-center">{{ month.numberOfWanders }}</td>
                        <td class="text-center">{{ month.numberOfImages }}</td>
                        <td class="text-center">{{ (month.totalDistance / 1000.0) | number_format(2) ~ 'km' }}</td>
                        <td class="text-start">{{ month.totalDurationForHumans }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-none d-md-block">
            <div class="headline">
                <div class="name">Yearly Stats</div>
            </div>
        </div>
        <div class="col">
            <div class="details">
                <table cellpadding="4">
                    <tr>
                        <th>Year</th>
                        <th>Number of Wanders</th>
                        <th>Number of Images</th>
                        <th>Total Walking Distance</th>
                        <th>Total Walking Duration</th>
                    </tr>
                    {% for year in wanderStats.yearlyStats | reverse %}
                    <tr>
                        <td>{{ year.periodLabel }}</td>
                        <td class="text-center">{{ year.numberOfWanders }}</td>
                        <td class="text-center">{{ year.numberOfImages }}</td>
                        <td class="text-center">{{ (year.totalDistance / 1000.0) | number_format(2) ~ 'km' }}</td>
                        <td class="text-start">{{ year.totalDurationForHumans }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="details">
                <h2>Current Experiments</h2>
                <ul>
                    <li><a href="{{ path('admin_image_cluster') }}">All Images Clustering Experiment</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
