{% extends 'base.html.twig' %}

{% block title %}Image Cluster Experiment{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('imageclusterpage') }}
{% endblock %}

{% block body %}
    <h1>Image Cluster Experiment</h1>
    {# TODO Don't hardcode the height #}
    <div id="mapid" style="height: 500px; height: 70vh;" {{ include('_mapattributes.html.twig') }} ></div>
    <div id="debug"></div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('imageclusterpage') }}
{% endblock %}