{% extends 'base.html.twig' %}

{% block title %}One Mile Matt Search{% endblock %}
{% block stylesheets %}
{{ parent() }}
{# TODO: Do we need leaflet here? #}
{{ include('_leaflet_stylesheets.html.twig') }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col mx-3 headerstrip">
            <div class="row">
                <div class="col">
                    <h2>Search</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mx-2 mt-4">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit"/>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col mx-2 mt-4">
            <p class="search resultcount">
                {% if pagination %}
                    {{ pagination.getTotalItemCount }} results
                {% else %}
                    No results found
                {% endif %}
            </p>
        </div>
    </div>

    {% if pagination %}
        {% for hybrid_result in pagination %}
        <div class="row search results">
            <div class="col mx-2">

                {% set wander = hybrid_result.transformed %}

                <div class="row wander">
                    <div class="col"><h4><a href="{{ path('wanders_show', {'id': wander.id}) }}">Wander:
                    {% if not hybrid_result.result.hit.highlight.title is empty %}
                        {{ hybrid_result.result.hit.highlight.title[0] | raw }}
                    {% else %}
                        {{ wander.title | striptags | markdown }}
                    {% endif %}
                    </a></h4></div>
                </div>
                <div class="row wander">
                    <div class="col mx-3"><span class="createdat">{{ wander.startTime ? wander.startTime|date('d M Y') : '' }} &mdash; </span> {{ wander.description | striptags | u.truncate(500, '...') }}</div>
                </div>
                {# {% endif %} #}
                {#

                    Image results -- won't be any like this now we're using nested.


                {% if hybrid_result.result.hit._index == 'image' %}
                {% set image = hybrid_result.transformed %}
                <div class="row">
                    <div class="col"><h4><a href="{{ path('image_show', {'id': image.id}) }}">Image: {{ image.title | striptags }}</a></h4></div>
                </div>
                <div class="row">
                    <div class="col mx-3"><span class="createdat">{{ image.capturedat ? image.capturedat|date('d M Y') : '' }} &mdash; </span>{{ image.description | striptags | u.truncate(500, '...') }}</div>
                </div>

                {% endif %}
                #}
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="navigation my-2">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
{# The Knp Paginator uses Font Awesome for its sorting icons in the header #}
<script src="https://kit.fontawesome.com/4f3422de26.js" crossorigin="anonymous"></script>
{% endblock %}