{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}
{% block body %}
    <div class="row mx-0">
        <div class="col headerstrip">
            <div class="row">
                <div class="col">
                    <h2>Search</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-4 mt-4">
        <div class="col">
            {{ form_start(form) }}
                {{ form_widget(form.query) }}
                <input class="mt-2" type="submit" value="Search"/>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row px-2 my-2">
        <div class="col mt-4 search resultcount">
            {% if pagination %}
                {{ pagination.getTotalItemCount }} wanders with matches:
            {% endif %}
        </div>
    </div>

    {% if pagination %}
        {% for hybrid_result in pagination %}
        <div class="row mx-0 search wander result mb-4">
            <div class="col mx-2">
                {% set wander = hybrid_result.transformed %}
                <div class="row wander header">
                    <div class="col">
                        <a href="{{ path('wanders_show', {'id': wander.id}) }}"><h4>
                        {# We set a no_match_size on the query so we should always get the title returned if there's nothing to highlight #}
                        {{ hybrid_result.result.hit.highlight.title[0] | striptags('<mark>') | raw }}
                        </a></h4>
                        <p class="wander-date">{{ wander.startTime ? wander.startTime|date('d M Y') : '' }}</p>
                        </div>
                </div>
                {% for highlight in hybrid_result.result.hit.highlight.description %}
                    <div class="row wander description highlights">
                        <div class="col">
                        <small>{{ highlight | striptags('<mark>') | raw }}</small>
                        </div>
                    </div>
                {% endfor %}


                {# Inner hits: images #}
                {% for imagehit in hybrid_result.result.hit.inner_hits.images.hits.hits %}
                    {% if loop.first %}
                        <div class="row mx-2 mt-2 image title highlights">
                            <div class="col">Matching Images</div>
                        </div>
                    {% endif %}
                    <div class="row mx-2 mt-2 search image result title highlights">
                        {% set image = wander.images[imagehit._nested['offset']] %}

                        <div class="col-2">
                            <a href="{{ path('image_show', {'id': image.id}) }}">
                                <img class="w-100" src="{{ vich_uploader_asset(image) | imagine_filter('square_thumb_200') }}" />
                            </a>
                        </div>

                        <div class="col-2">
                            {% if imagehit.highlight['images.title'] is defined %}
                                {% for titlehighlight in imagehit.highlight['images.title'] %}
                                    <a href="{{ path('image_show', {'id': image.id}) }}">{{ titlehighlight | raw }}</a>

                                {% endfor %}
                            {% endif %}
                            <div class="rating">{{ image.rating | star_rating }}</div>
                        </div>
                        <div class="col-8">
                            {% if imagehit.highlight['images.description'] is defined %}
                                {% for descriptionhighlight in imagehit.highlight['images.description'] %}
                                    <small>{{ descriptionhighlight | raw }}</small>
                                {% endfor %}
                            {% endif %}
                            {% if imagehit.highlight['images.tags'] is defined %}
                                <hr />
                                <small>Matching tag: </small>
                                {% for taghighlight in imagehit.highlight['images.tags'] %}
                                    <small class="keyword">{{ taghighlight | raw }}</small>&nbsp;
                                {% endfor %}
                            {% endif %}
                            {% if imagehit.highlight['images.auto_tags'] is defined %}
                                <hr />
                                <small>Matching (experimental) auto-tags: </small>
                                {% for taghighlight in imagehit.highlight['images.auto_tags'] %}
                                    <small class="keyword">{{ taghighlight | raw }}</small>&nbsp;
                                {% endfor %}
                            {% endif %}
                            {% if imagehit.highlight['images.textTags'] is defined %}
                                <hr />
                                <small>Matching (experimental) text recognition tags: </small>
                                {% for taghighlight in imagehit.highlight['images.textTags'] %}
                                    <small class="keyword">{{ taghighlight | raw }}</small>&nbsp;
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}

                {# {% endif %} #}
                {#

                    Image results -- won't be any like this now we're using nested.


                {% if hybrid_result.result.hit._index == 'image' %}
                {% set image = hybrid_result.transformed %}
                <div class="row">
                    <div class="col"><h4><a href="{{ path('image_show', {'id': image.id}) }}">Image: {{ image.title | striptags }}</a></h4></div>
                </div>
                <div class="row">
                    <div class="col mx-3"><span class="createdat">{{ image.capturedat ? image.capturedat|date('d M Y') : '' }} &mdash; </span>{{ image.description | striptags | u.truncate(500, '...') }}</div>
                </div>

                {% endif %}
                #}
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="navigation my-4">
                    {{ knp_pagination_render(pagination, null, {}, { 'align': 'center' }) }}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
