{% extends 'base.html.twig' %}

{% block title %}One Mile Matt Search{% endblock %}
{% block stylesheets %}
{{ parent() }}
{# TODO: Do we need leaflet here? #}
{{ include('_leaflet_stylesheets.html.twig') }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col mx-3 headerstrip">
            <div class="row">
                <div class="col">
                    <h2>Search</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mx-2 mt-4">
            <p class="search resultcount">{{ pagination.getTotalItemCount }} results</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Details</th>
                    </tr>
                </thead>
                {% for hybrid_result in pagination %}
                <tr>
                    {% if hybrid_result.result.hit._index == 'wander' %}
                    {% set wander = hybrid_result.transformed %}
                    <td>Wander</td>
                    <td><a href="{{ path('wanders_show', {'id': wander.id}) }}">{{ wander.title | striptags }}</a></td>
                    <td>{{ wander.description | striptags | u.truncate(500, '...') }}</td>
                    {% endif %}
                    {% if hybrid_result.result.hit._index == 'image' %}
                    {% set image = hybrid_result.transformed %}
                    <td>Image</td>
                    <td><a href="{{ path('image_show', {'id': image.id}) }}">{{ image.title | striptags }}</a></td>
                    <td>{{ image.description | striptags | u.truncate(500, '...') }}</td>
                    {% endif %}

                </tr>
                {% else %}
                <tr>
                    <td colspan="3">No results found</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="navigation my-2">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
{# The Knp Paginator uses Font Awesome for its sorting icons in the header #}
<script src="https://kit.fontawesome.com/4f3422de26.js" crossorigin="anonymous"></script>
{% endblock %}