{% extends 'base.html.twig' %}

{% block title %}One Mile Matt Search{% endblock %}
{% block stylesheets %}
{{ parent() }}
{# TODO: Do we need leaflet here? #}
{{ include('_leaflet_stylesheets.html.twig') }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col mx-3 headerstrip">
            <div class="row">
                <div class="col">
                    <h2>Search</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mx-2 mt-4">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Search"/>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col mx-2 mt-4">
            <p class="search resultcount">
                {% if pagination %}
                    {{ pagination.getTotalItemCount }} results
                {% else %}
                    No results found
                {% endif %}
            </p>
        </div>
    </div>

    {% if pagination %}
        {% for hybrid_result in pagination %}
        <div class="row search results mb-4">
            <div class="col mx-2">

                {% set wander = hybrid_result.transformed %}

                <div class="row wander">
                    <div class="col"><h4><a href="{{ path('wanders_show', {'id': wander.id}) }}">{{ wander.startTime ? wander.startTime|date('d M Y') : '' }}:
                        {# We set a no_match_size on the query so we should always get the title returned if there's nothing to highlight #}
                        {{ hybrid_result.result.hit.highlight.title[0] | striptags('<mark>') | raw }}
                    </a></h4></div>
                </div>
                {% for highlight in hybrid_result.result.hit.highlight.description %}
                    <div class="row mx-2 wander description highlights">
                        <div class="col">
                        {# TODO Danger make sure elasticsearch index doesn't include HTML #}
                        <small>{{ highlight | striptags('<mark>') | raw }}</small>
                        </div>
                    </div>
                {% endfor %}


                {# Inner hits: images #}
                {% for imagehit in hybrid_result.result.hit.inner_hits.images.hits.hits %}
                    {% if loop.first %}
                        <div class="row mx-2 mt-2 image title highlights">
                            <div class="col">Matching Images</div>
                        </div>
                    {% endif %}
                    <div class="row mx-2 mt-2 image title highlights">
                        {% set image = wander.images[imagehit._nested['offset']] %}

                        <div class="col-2">
                            <a href="{{ path('admin_images_show', {'id': image.id}) }}">
                                <img class="w-100" src="{{ vich_uploader_asset(image) | imagine_filter('square_thumb_100') }}" />
                            </a>
                        </div>

                        <div class="col-2">
                            {% for titlehighlight in imagehit.highlight['images.title'] %}
                                {# TODO Danger make sure elasticsearch index doesn't include HTML #}
                                <a href="{{ path('admin_images_show', {'id': image.id}) }}">{{ titlehighlight | raw }}</a>

                            {% endfor %}
                        </div>
                        <div class="col-8">
                            {% for descriptionhighlight in imagehit.highlight['images.description'] %}
                                {# TODO Danger make sure elasticsearch index doesn't include HTML #}
                                <small>{{ descriptionhighlight | raw }}</small>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                {# {% endif %} #}
                {#

                    Image results -- won't be any like this now we're using nested.


                {% if hybrid_result.result.hit._index == 'image' %}
                {% set image = hybrid_result.transformed %}
                <div class="row">
                    <div class="col"><h4><a href="{{ path('image_show', {'id': image.id}) }}">Image: {{ image.title | striptags }}</a></h4></div>
                </div>
                <div class="row">
                    <div class="col mx-3"><span class="createdat">{{ image.capturedat ? image.capturedat|date('d M Y') : '' }} &mdash; </span>{{ image.description | striptags | u.truncate(500, '...') }}</div>
                </div>

                {% endif %}
                #}
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="navigation my-2">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
{# The Knp Paginator uses Font Awesome for its sorting icons in the header #}
<script src="https://kit.fontawesome.com/4f3422de26.js" crossorigin="anonymous"></script>
{% endblock %}