{% extends 'admin/base.html.twig' %}

{% block title %}One-Mile Matt Problems{% endblock %}

{% block body %}
    <h1>Image Problems</h1>
    <h2>Broken Links</h2>
    <p><a href="{{ path('admin_problems_broken_links') }}">Show problem report</a></p>
    <h2>Orphan Images</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Image</th>
                <th>CapturedAt</th>
            </tr>
        </thead>
        <tbody>
            {% for image in orphans %}
            <tr>
                <td><a href="{{ path('admin_image_show', {'id': image.id}) }}">{{ image.title ?? image.id }}</a></td>
                <td>{{ image.capturedAt |date('d M Y H:i T') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>General Problems</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Wander</th>
                <th>Image Count</th>
                <th>Total Problems (excl. auto tags)</th>
                <th>No Title</th>
                <th>No LatLng</th>
                <th>No Rating</th>
                <th>No Keywords</th>
                <th>No Auto Tags</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr>
                <td><a href="{{ path('admin_wanders_show', {'id': problem.wander.id}) }}">{{ problem.wander.title }} ({{ problem.wander.startTime ? problem.wander.startTime|date('d M Y') : '' }})</a></td>
                <td>{{ problem.image_count }}</td>
                <td>{{ problem.total_problems_excl_auto }}</td>
                <td><a href="{{ path('admin_problems_no_title', {'id': problem.wander.id}) }}">{{ problem.no_title }}</a></td>
                <td><a href="{{ path('admin_problems_no_latlng', {'id': problem.wander.id}) }}">{{ problem.no_latlng }}</a></td>
                <td><a href="{{ path('admin_problems_no_rating', {'id': problem.wander.id}) }}">{{ problem.no_rating }}</td>
                {#
                   TODO: Add links to these when we've converted them to relations rather than
                   arrays stored in a string and therefore aren't just adding to more technical
                   debt
                #}
                <td>{{ problem.no_keywords }}</td>
                <td>{{ problem.no_auto_tags }}</td>
                <td>{{ problem.weighted_problem_score }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
