<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link {% if app.request.attributes.get('_route') == 'home' %} active {% endif %}" href="{{ path('home') }}">Home</a>
            <a class="nav-item nav-link {% if app.request.attributes.get('_route') starts with 'about_' %} active {% endif %}" href="{{ path('about_index') }}">About</a>
        </div>
        <div class="navbar-nav">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="nav-item nav-link" href="{{ path('admin_index') }}">Admin</a>
            <a class="nav-item nav-link" href="{{ path('app_logout') }}">Log out</a>
            {% else %}
            <a class="nav-item nav-link" href="{{ path('login') }}">Log in</a>
            {% endif %}
        </div>
    </div>
</nav>
