<!DOCTYPE html>
<html lang="en-GB" class="public {%block htmlClass %}{% endblock %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" title="Wander Feed: RSS"
            href="{{ url('feed', {'_format': 'rss2'}) }}">
        <link rel="alternate" type="application/atom+xml" title="Wander Feed: Atom"
            href="{{ url('feed', {'_format': 'atom'}) }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        {# TODO Put this back in some time, but Safari seesm a bit buggy with it #}
        {# <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#952929"> #}
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>{% block title %}{{ settings.siteTitle }}—{{ settings.siteSubtitle }}{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% block twittercard %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block container %}<div class="container-xl d-flex h-100 flex-column px-0">{% endblock %}
            <div class="row">
                <div class="col-sm">
                    {{ include('_nav.html.twig') }}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
