{% extends 'admin/base.html.twig' %}

{% block title %}Wanders{% endblock %}

{% block body %}
    <h1>Wanders ({{ pagination.getTotalItemCount }})</h1>

    <div class="row">
        <div class="col">
            <p><a href="{{ path('admin_wanders_new') }}">Create new Wander</a></p>
        </div>
        <div class="col">
            <p><a href="{{ path('admin_wanders_backlog', { '_format': 'html' }) }}">Show Backlog</a> (or <a href="{{ path('admin_wanders_backlog', { '_format': 'txt' }) }}">as Taskpaper)</a></p>
        </div>
        <div class="col text-right">
            Filters:
            <a class="{% if filter_has_images is same as(false) %} font-weight-bold {% endif %}" href="{{ path('admin_wanders_index', { hasImages: false }) }}">No images</a>
            :
            <a class="{% if filter_has_images is same as(true) %} font-weight-bold {% endif %}" href="{{ path('admin_wanders_index', { hasImages: true }) }}">Images</a>
            :
            <a href="{{ path('admin_wanders_index') }}">Clear</a>
        </div>
    </div>
    <table class="table sortable">
        <thead>
            <tr>
                <th width="80px" {% if pagination.isSorted('w.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Id', 'w.id') }}</th>
                <th {% if pagination.isSorted('w.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 'w.title') }}</th>
                <th {% if pagination.isSorted('w.startTime') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Start Time', 'w.startTime') }}</th>
                <th {% if pagination.isSorted('w.endTime') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'End Time', 'w.endTime') }}</th>
                <th width="150px" {% if pagination.isSorted('imageCount') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Image Count', 'imageCount') }}</th>
                <th {% if pagination.isSorted('w.description') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Description', 'w.description') }}</th>
                <th {% if pagination.isSorted('w.gpxFilename') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'GPX Filename', 'w.gpxFilename') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for results in pagination %}
            {% set wander = results.wander %}
            <tr>
                <td>{{ wander.id }}</td>
                <td>{{ wander.title }}</td>
                <td class="text-nowrap {{ wander.isTimeLengthSuspicious ? 'text-danger' }}">{{ wander.startTime ? wander.startTime|date('d M Y H:i T') : '' }}</td>
                <td class="text-nowrap {{ wander.isTimeLengthSuspicious ? 'text-danger' }}">{{ wander.endTime ? wander.endTime|date('d M Y H:i T') : '' }}</td>
                <td>{{ wander.images.count }}</td>
                {#<td>{{ wander.description|striptags|markdown }}</td>#}
                <td>{{ wander.description | striptags | u.truncate(50, '...') }}</td>
                <td>
                    {{ wander.gpxFilename }}<br>
                    Sector: {{ wander.sector }}
                </td>
                <td>
                    <a href="{{ path('admin_wanders_show', {'id': wander.id}) }}">details</a><br/>
                    <a href="{{ path('admin_wanders_edit', {'id': wander.id}) }}">edit</a><br/>
                    <a href="{{ path('wanders_show', {'id': wander.id}) }}">public&nbsp;page</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="navigation my-4">
                {{ knp_pagination_render(pagination, null, {}, { 'align': 'center' }) }}
            </div>
        </div>
    </div>
{% endblock %}
