{% extends 'admin/base.html.twig' %}

{% block title %}Wander{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ include('_leaflet_stylesheets.html.twig') }}
{% endblock %}
{% block body %}
    <h1>Wander</h1>
    <p>
    <a href="{{ path('admin_wanders_index') }}">back to list</a> |
    <a href="{{ path('admin_wanders_edit', {'id': wander.id}) }}">edit</a>
    </p>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wander.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ wander.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ wander.description|striptags|markdown }}</td>
            </tr>
            <tr>
                <th>Number of Images</th>
                <td>{{ wander.images.count }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td class="text-nowrap {{ wander.isTimeLengthSuspicious ? 'text-danger' }}">{{ wander.startTime ? wander.startTime|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            <tr>
                <th>EndTime</th>
                <td class="text-nowrap {{ wander.isTimeLengthSuspicious ? 'text-danger' }}">{{ wander.endTime ? wander.endTime|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ wander.distance | number_format(2) ~ 'm'  }}</td>
            </tr>
            <tr>
                <th>Average Pace</th>
                <td>{{ wander.avgPace | number_format(2) ~ 's/km'  }}</td>
            </tr>
            <tr>
                <th>Average Speed</th>
                <td>{{ wander.avgSpeed | number_format(2) ~ 'm/s'  }}</td>
            </tr>
            <tr>
                <th>Min Altitude</th>
                <td>{{ wander.minAltitude | number_format(2) ~ 'm'  }}</td>
            </tr>
            <tr>
                <th>Max Altitude</th>
                <td>{{ wander.maxAltitude | number_format(2) ~ 'm'  }}</td>
            </tr>
            <tr>
                <th>Cumulative Elevation Gain</th>
                <td>{{ wander.cumulativeElevationGain | number_format(2) ~ 'm'  }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ wander.duration | duration_to_hms }}</td>
            </tr>
            <tr>
                <th>GpxFilename</th>
                <td>{{ wander.gpxFilename }}</td>
            </tr>
            <tr>
                <th>Centroid</th>
                <td>{{ wander.centroidAsString }}</td>
            </tr>
            <tr>
                <th>Sector</th>
                <td>{{ wander.sector }}</td>
            </tr>
            <tr>
                <th>Gpx File Link</th>
                <td><a href="{{ asset('uploads/gpx/' ~ wander.gpxFilename) }}">View GPX file</a></td>
            </tr>
        </tbody>
    </table>
    {{ include('admin/wander/_delete_form.html.twig') }}

    <hr/>
    <h2 class="mt-2">Map</h2>
    <div id="mapid" style="height: 500px" data-mapbox-access-token="{{ mapbox_access_token }}" ></div>
    <hr/>
    <h2 class="mt-2">Wander Images</h2>
    {{ include('admin/wander/_delete_images_form.html.twig') }}
    {% for row in wander.images | batch(3, 'no image') %}
    <div class="row mt-3 align-items-center">
        {% for image in row %}
        <div class="col-sm">
            {% if image.id is defined %}
            <a href="{{ path('admin_images_show', {'id': image.id}) }}">
                <img
                    class="img-fluid"
                    src="{{ vich_uploader_asset(image) }}"
                    alt="{{ image.title }}"  {# TODO: What happens if this title has double quotes? #}
                    srcset="{{ image | srcset }}"
                />
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
    {{ include('_leaflet_javascripts.html.twig') }}
    <script src="/js/map.js"></script>
    <script>
        $(function() {
            var map = setUpMap({
                scrollWheelZoom: false
            });
            addWander(map, {{ wander.id }}, true);
        });
    </script>
{% endblock %}