{% extends 'admin/base.html.twig' %}

{% block title %}One-Mile Matt Settings{% endblock %}

{% block body %}


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Setting</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-nowrap">Site Title</td>
                <td>{{ settings.siteTitle }}</td>
            </tr>
            <tr>
                <td class="text-nowrap">Site Sub-Title (Used in RSS Feed channel description)</td>
                <td>{{ settings.siteSubtitle }}</td>
            </tr>
            <tr>
                <td class="text-nowrap">Twitter Handle for Twitter Cards (without "@")</td>
                <td>{{ settings.twitterHandle }}</td>
            </tr>
            <tr>
                <td class="text-nowrap"><a href="https://gravatar.com">Gravatar</a> Email Address for avatar on About page (without "@")</td>
                <td>{{ settings.gravatarEmail }}</td>
            </tr>
            <tr>
                <td class="text-nowrap">Site About Page Text</td>
                <td>{{ settings.siteAbout | striptags | markdown_to_html }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('admin_settings_edit') }}">Edit settings</a>

{% endblock %}
